Repository libranet/libranet-logging: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, ruff, debug-statements, check-toml, end-of-file-fixer, fix-encoding-pragma

black:
  name: Black
  entry: poetry run black
  args:
  - --config=pyproject.toml
  language: system
  require_serial: true

isort:
  name: Isort
  entry: poetry run isort
  args:
  - --settings-path=pyproject.toml
  language: system
  require_serial: true

ruff:
  name: Ruff
  entry: poetry run ruff
  args:
  - --fix
  - --show-fixes
  language: system

debug-statements:
  name: Check debug statements
  entry: poetry run debug-statement-hook
  language: system

check-toml:
  name: Check TOML-syntax
  entry: poetry run check-toml
  language: system

end-of-file-fixer:
  name: Fix end of file
  entry: poetry run end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

fix-encoding-pragma:
  name: Fix encoding pragma
  entry: poetry run fix-encoding-pragma --remove
  language: system

fix pre-commit
  .pre-commit-config.yaml
  docs/conf.py
  etc/ipython/profile_default/startup/10-logging.py
  etc/ipython/profile_default/startup/_archive/11-urllib3.py
  etc/ipython/profile_default/startup/_archive/12-requests.py
  etc/ipython/profile_ipdb/startup/01-imports.py
  src/libranet_logging/_version.py
  src/libranet_logging/filters.py
  src/libranet_logging/logconfig.py
  src/libranet_logging/loglevel.py
  src/libranet_logging/utils.py
  src/libranet_logging/yaml.py
  tests/conftest.py
  tests/test_logconfig.py
  tests/test_loglevel.py
Due: black, isort, ruff, debug-statements, end-of-file-fixer, fix-encoding-pragma

fix python version backport
  pyproject.toml
Due: check-toml

fix regex
  .pre-commit-config.yaml
  uv.lock
Due: none

bump version
  pyproject.toml
  uv.lock
Due: check-toml

make get_dict_config toplevel function
  docs/changes.rst
  pyproject.toml
  src/libranet_logging/__init__.py
  uv.lock
Due: black, isort, ruff, debug-statements, check-toml, end-of-file-fixer, fix-encoding-pragma

bump version
  docs/changes.rst
  pyproject.toml
  uv.lock
Due: check-toml

switch to uv for readthedocs
  .readthedocs.yaml
Due: none

remove makefiles, we use just now
  .make/00-help.mk
  .make/01-path.mk
  .make/02-dir-structure.mk
  .make/03-dotenv.mk
  .make/04-pip.mk
  .make/05-git.mk
  .make/10-black.mk
  .make/11-isort.mk
  .make/12-flake8.mk
  .make/13-pylint.mk
  .make/14-mypy.mk
  .make/15-bandit.mk
  .make/16-ruff.mk
  .make/17-ipython.mk
  .make/18-pyroma.mk
  .make/19-safety.mk
  .make/20-pytest.mk
  .make/21-tox.mk
  .make/22-nox.mk
  .make/25-sphinx.mk
  .make/30-pre-commit.mk
  .make/40-pyenv.mk
  .make/55-poetry.mk
  .make/60-readthedocs.mk
  makefile
Due: none

remove taces of make
  .gitignore
Due: none

fix version-parsing
  docs/conf.py
Due: black, isort, ruff, debug-statements, end-of-file-fixer, fix-encoding-pragma

fix import
  docs/conf.py
Due: black, isort, ruff, debug-statements, end-of-file-fixer, fix-encoding-pragma

fix sphinx-docs
  .just/dir-structure.justfile
  .just/dotenv.justfile
  .just/git copy.justfile
  .just/ipython.justfile
  .just/mypy.justfile
  .just/pre-commit.justfile
  .just/pylint.justfile
  .just/pyroma.justfile
  .just/pytest.justfile
  .just/readthedocs.justfile
  .just/ruff.justfile
  .just/sphinx.justfile
  .just/uv.justfile
  .vscode/extensions.json
  docs/changes-new.md
  docs/changes.rst
  docs/index.rst
  docs/modules/libranet_logging/_version/index.rst
  docs/modules/libranet_logging/cli/index.rst
  docs/modules/libranet_logging/filters/index.rst
  docs/modules/libranet_logging/index.rst
  docs/modules/libranet_logging/logconfig/index.rst
  docs/modules/libranet_logging/loglevel/index.rst
  docs/modules/libranet_logging/utils/index.rst
  docs/modules/libranet_logging/validate/index.rst
  docs/modules/libranet_logging/yaml/index.rst
  docs/readme.md
  docs/requirements.txt
  docs/unittesting.rst
  justfile
  pyproject.toml
  tests/test_cli.py
Due: black, isort, ruff, debug-statements, check-toml, end-of-file-fixer, fix-encoding-pragma

remove duplicate file
  .just/git copy.justfile
  .just/git.justfile
Due: none

remove unused code
  etc/ipython/profile_default/startup/10-logging.py
Due: black, isort, ruff, debug-statements, end-of-file-fixer, fix-encoding-pragma

update lockfile to bump urllib3 to fix security warnings
  uv.lock
Due: none

add mmissing permissions on github-acitons
  .github/workflows/dependabot-auto-merge.yaml
Due: none

update requirements-file
  docs/requirements.txt
Due: none

fix ruff alerts
  etc/ipython/profile_default/startup/10-logging.py
  pyproject.toml
Due: black, isort, ruff, debug-statements, check-toml, end-of-file-fixer, fix-encoding-pragma

remove old-style requirements.txt
  docs/requirements.txt
Due: none

single quotes for .env when no substitution
  .env.template
Due: none

disable pragma check for now
  .just/uv.justfile
  .pre-commit-config.yaml
Due: none

bump default python-version from 3.8 to 3.13
  .python-version
Due: none

pin github-actions to commit
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yaml
  .github/workflows/linting.yaml
  .github/workflows/testing.yaml
  .gitignore
  docs/changes.rst
Due: none

add justfiles to make "just install" work
  .just/dir-structure.justfile
  .just/dotenv.justfile
  .just/project.justfile
  .just/sphinx.justfile
  .just/ty.justfile
  .just/uv.justfile
  justfile
Due: none

minor cleanup
  .env.template
  .gitignore
  .vscode/extensions.json
  pyproject.toml
Due: check-toml

fix project name in contributing-doc
  docs/contributing.md
Due: none

switch to "uv run" to run pytest
  .just/pytest.justfile
Due: none

fix failing test because of implict dependency on env-variables
  tests/test_logconfig.py
Due: black, isort, ruff, debug-statements, end-of-file-fixer, fix-encoding-pragma

use github-username in CODEOWNERS
  .github/CODEOWNERS
Due: none

cleanup, and move to weekly updates for github-actions
  .github/dependabot.yml
Due: none

Limit concurrency by workflow/branch combination
  .github/workflows/linting.yaml
  .github/workflows/testing.yaml
Due: none

revert concureent limit - run all jobs on all commits
  .github/workflows/dependabot-auto-merge.yaml
  .github/workflows/linting.yaml
  .github/workflows/testing.yaml
Due: none

pin version of uv in github-actions
  .github/workflows/linting.yaml
  .github/workflows/testing.yaml
Due: none

avoid hardcoded package-name is justfiles
  .just/pytest.justfile
Due: none

code-coverage: set fail_ci_if_error to true to avoid silent errors
  .github/workflows/testing.yaml
Due: none

bump uv version to 0.9.21
  .github/workflows/linting.yaml
  .github/workflows/testing.yaml
Due: none

fix yaml indentation
  .github/workflows/linting.yaml
  .github/workflows/testing.yaml
Due: none

tighten security in gituhb-actions
  .github/workflows/dependabot-auto-merge.yaml
Due: none

fix: correct codecov upload paths in testing workflow
  .github/workflows/testing.yaml
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  ruff: any of: \.py$
  debug-statements: any of: \.py$
  check-toml: any of: \.toml$
  end-of-file-fixer: any of: \.py$
  fix-encoding-pragma: any of: \.py$
