Repository libranet/libranet-logging: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, poetry-check, debug-statements, check-toml, end-of-file-fixer, fix-encoding-pragma

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  poetry-check: any of: ^pyproject.toml$
  debug-statements: any of: \.py$
  check-toml: any of: \.toml$
  end-of-file-fixer: any of: \.py$
  fix-encoding-pragma: any of: \.py$

fix pytests
  .make/04-pip.mk
  .make/14-mypy.mk
  .make/25-sphinx.mk
  docs/changes.rst
  docs/index.rst
  docs/modules/libranet_logging/cli/index.rst
  docs/modules/libranet_logging/filters/index.rst
  docs/modules/libranet_logging/index.rst
  docs/modules/libranet_logging/logconfig/index.rst
  docs/modules/libranet_logging/loglevel/index.rst
  docs/modules/libranet_logging/yaml/index.rst
  docs/readme.md
  poetry.lock
  pyproject.toml
  src/libranet_logging/yaml.py
Due: black, ruff, poetry-check, debug-statements, check-toml, end-of-file-fixer, fix-encoding-pragma

fix path to coverage
  .github/workflows/testing.yaml
Due: none

fix badge
  .make/15-bandit.mk
  docs/readme.md
Due: none

add black-cachedir
  .env.example
Due: none

update
  docs/changes.rst
  src/libranet_logging/__init__.py
  src/libranet_logging/cli.py
  src/libranet_logging/etc/logging.yml
  src/libranet_logging/filters.py
  src/libranet_logging/logconfig.py
  src/libranet_logging/loglevel.py
  src/libranet_logging/utils.py
  src/libranet_logging/validate.py
  src/libranet_logging/yaml.py
  tests/conftest.py
  tests/test_filters.py
  tests/test_logconfig.py
Due: black, ruff, debug-statements, end-of-file-fixer, fix-encoding-pragma

update
  .env.example
  .github/workflows/linting.yaml
  docs/changes.rst
  docs/index-old.rst
  docs/index.rst
  docs/modules/libranet_logging/index.rst
  docs/modules/libranet_logging/logconfig/index.rst
  docs/modules/libranet_logging/utils/index.rst
  docs/modules/libranet_logging/validate/index.rst
  docs/readme.md
  docs/unittesting.rst
  docs/usage.rst
  poetry.lock
  pyproject.toml
  src/libranet_logging/__init__.py
  src/libranet_logging/etc/logging.yaml
  src/libranet_logging/logconfig.py
  src/libranet_logging/py.typed
  src/libranet_logging/utils.py
  tests/logging_email_substitution.yaml
  tests/logging_invalid_schema.yaml
  tests/logging_invalid_yaml.yaml
  tests/logging_valid.yaml
  tests/test_logconfig.py
  tests/test_yaml.py
Due: black, ruff, poetry-check, debug-statements, check-toml, end-of-file-fixer, fix-encoding-pragma

update
  .pre-commit-config.yaml
Due: none

update
  .make/55-poetry.mk
  .pre-commit-config.yaml
  .vscode/settings.json
  etc/ipython/profile_default/startup/_archive/04-entrypoints.py
  etc/ipython/profile_default/startup/_archive/05-warnings.py
  etc/ipython/profile_default/startup/_archive/13-requests-httpformatting.py
  etc/ipython/profile_default/startup/_archive/20-flask.py
  etc/logging.yml
  poetry.lock
  pyproject.toml
  src/libranet_logging/yaml.py
  tests/logging_email_substitution.yaml
  tests/logging_valid.yaml
Due: black, ruff, poetry-check, debug-statements, check-toml, end-of-file-fixer, fix-encoding-pragma

fix
  src/libranet_logging/logconfig.py
  src/libranet_logging/yaml.py
Due: black, ruff, debug-statements, end-of-file-fixer, fix-encoding-pragma

update
  .env.example
  etc/logging.yaml
  poetry.lock
Due: none

remove upperbound pin python
  docs/changes.rst
  poetry.lock
  pyproject.toml
Due: poetry-check, check-toml

update deps
  poetry.lock
  pyproject.toml
Due: poetry-check, check-toml

update deps
  poetry.lock
Due: none

updte deps
  poetry.lock
Due: none

update
  poetry.lock
Due: none

update
  .github/workflows/dependabot-auto-merge.yaml
Due: none

Update dependabot-auto-merge.yaml
  .github/workflows/dependabot-auto-merge.yaml
Due: none

Update pyproject.toml
  pyproject.toml
Due: poetry-check, check-toml

replace cerberus wirh jsonschema
  .github/workflows/linting.yaml
  .github/workflows/testing.yaml
  docs/changes.rst
  poetry.lock
  pyproject.toml
  src/libranet_logging/validate.py
  tests/test_logconfig.py
Due: black, ruff, poetry-check, debug-statements, check-toml, end-of-file-fixer, fix-encoding-pragma

update lockfile
  poetry.lock
Due: none

update schema
  src/libranet_logging/validate.py
  tests/test_logconfig.py
Due: black, ruff, debug-statements, end-of-file-fixer, fix-encoding-pragma

update version
  docs/changes.rst
  license.md
  pyproject.toml
Due: poetry-check, check-toml

start moving to just from make
  .just/git.justfile
  justfile
Due: none

add toml-cli to dev-dep
  poetry.lock
  pyproject.toml
Due: poetry-check, check-toml

update justfiles
  .just/sshx.justfile
  .just/uv.justfile
  justfile
Due: none

refactor get_dict_config()
  docs/changes.rst
  src/libranet_logging/logconfig.py
Due: black, ruff, debug-statements, end-of-file-fixer, fix-encoding-pragma

bump version
  pyproject.toml
Due: poetry-check, check-toml

refactor justfile
  .just/release.justfile
  .just/uv.justfile
  justfile
Due: none

change .env.example to .env.template
  .env.template
  .make/03-dotenv.mk
  .vscode/settings.json
  poetry.lock
Due: none

make __version__ dynamic
  pyproject.toml
  src/libranet_logging/__init__.py
  src/libranet_logging/_version.py
Due: black, ruff, poetry-check, debug-statements, check-toml, end-of-file-fixer, fix-encoding-pragma

switc to uv
  .github/dependabot.yml
  .github/workflows/linting.yaml
  .github/workflows/testing.yaml
  .python-version
  etc/ipython/profile_default/startup/10-logging.py
  poetry.toml
  pyproject.toml
  src/libranet_logging/_version.py
  src/libranet_logging/filters.py
  src/libranet_logging/logconfig.py
  src/libranet_logging/utils.py
  src/libranet_logging/yaml.py
  uv.lock
Due: black, ruff, poetry-check, debug-statements, check-toml, end-of-file-fixer, fix-encoding-pragma

remove poetry from pre-commit
  .pre-commit-config.yaml
Due: none

update docs
  docs/changes.rst
  src/libranet_logging/logconfig.py
Due: black, ruff, debug-statements, end-of-file-fixer, fix-encoding-pragma
